python-telegram-bot==20.7
yt-dlp>=2024.04.09
python-dotenv==1.0.0
send2trash==1.8.2
uvicorn==0.29.0
fastapi==0.109.2
gunicorn==23.0.0
requests==2.32.3
# --- Added for potential YouTube fallback ---
pytube

